<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Dependencies classes-->
        <bean id="draw2dShape" class="com.DI.task.Draw2dShape"/>
        <bean id="draw3dShape" class="com.DI.task.Draw3dShape"/>
    <!-- main beans-->
        <bean id="circle" class="com.DI.task.CircleShape">
            <constructor-arg ref="draw2dShape"/>
            <constructor-arg ref="draw3dShape"/>
        </bean>
        <bean id="square" class="com.DI.task.SquareShape">
            <property name="draw2dSquare" ref="draw2dShape"/>
            <property name="draw3dSquare" ref="draw3dShape"/>
        </bean>


</beans>
